
* {
    box-sizing: border-box;
  }
ul {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    max-width: 1200px;
    color: lightskyblue;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}

.input-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid lightblue;
}

.task-list {
    display: flex;
    justify-content: space-between;
}

.input-block input {
    width: 90%;
    height: 50px;
}


li {
    list-style-type: none;
    font-size: 30px;
    display: flex;
    flex-direction: row;
}
#error {
    display: none;
}
button {
    border: none;
    background: none;
}

#add .material-icons {
    font-size: 50px;
    color: default;
}
.editMode .checkbox, .editMode .delete, .editMode label {
    display: none;
}
#task-list input {
    display: none;
}
#task-list .editMode input {
    display: inline;
}
#task-list i {
    color: lightskyblue;
    font-size: 35px;
}
li .delete {
    position: absolute;
    left: 75%;
}
#error {
    text-align: center;
    color: black;
    padding: 0 0;
    margin: 0;
}