
* {
    box-sizing: border-box;
  }
ul {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    color: lightskyblue;
}

button {
    border: none;
    background: none;
}

input { font-size: 20px; }

.wrapper {
    display: flex;
    flex-direction: column;
}
h1 { text-align: center; }

#error {
    display: none;
    text-align: center;
    color: black;
    padding: 0 0;
    margin: 0;
}

.input-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 5px solid lightblue;
}

.input-block input {
    width: 90%;
    height: 50px;
}

#add { width: 10%; }

#add .material-icons { font-size: 50px; }

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 24px;
}

.editMode .checkbox, 
.editMode .delete, 
.editMode label, 
#task-list input { 
    display: none; 
}

#task-list .editMode input {
    display: inline-block;
    width: 30%;
}

#task-list i {
    font-size: 35px;
    color: lightskyblue;
}

li .delete {
    position: absolute;
    left: 77%;
}
#task-list .checkbox i { color: grey; } 