$backgroundColor: rgb(33,35,46);
$bgPhoto: url("../img/m-h-night.jpg");
$fontSize: (
    extraLarge: 72px,
    big: 46px,
    xlarge: 30px,
    large: 27px, 
    middle: 24px,
    medium: 20px, 
    small: 13px
);

$headerUnderlineColor: rgb(255,78,51);
$headerTextColor: rgb(255,255,255);
$colorButton: white;
$bgColorButton: rgb(227,172,0);
$bgItem: rgb(59,63,80);
$colorItem: white;
$colorCardText: rgb(209,209,209);
$bannerColor: linear-gradient(to right, rgb(226,170,2), rgb(146,44,83));
$fontButtonTitle: 'Source Sans Pro';
$fontMain:'Fresca';