$backgroundColor: white;
$bgPhoto: url("../img/m-h-day.jpg");
$fontSize: (
    extraLarge: 72px,
    big: 46px,
    xlarge: 30px,
    large: 27px, 
    middle: 24px,
    medium: 20px, 
    small: 13px
);

$headerUnderlineColor: rgb(20,160,199);
$headerTextColor: rgb(44,47,70);
$colorButton: white;
$bgColorButton: rgb(105,153,0);
$bgItem: rgb(33,35,46);
$colorItem: white;
$colorCardText: rgb(192,195,196);
$bannerColor: linear-gradient(to right, rgb(104,152,3), rgb(44,90,221));
$fontButtonTitle: 'Source Sans Pro';
$fontMain:'Hind';